{{#if addNewReview}}
<h1>New Answer</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="answer">Answer</label>
        {{input value=answer id="answer"}}
      </div>
      <div class="form-group">
        <label for="link">Helpful link</label>
        {{input value=link id="link"}}
      </div>
      <button {{action 'saveReview'}}>Contribute</button>
    </form>
      <button {{action 'hideReview'}}>Hide</button>
  </div>
{{else}}
  <button {{action 'reviewFormShow'}}>New Answer</button>
{{/if}}
