
  <h3>{{question.name}} asked : </h3> <br>
  <b>{{question.query}}</b> - {{question.content}} <br>

  <h3>Answers :</h3>

<ul>
  {{#each question.reviews as |review|}}

    <li>{{review.author}} says - {{review.answer}} <br>
      The following link could also help you ~ <a href= {{review.link}} target="_blank"> {{review.link}} </a> </li>
  {{/each}}
</ul>

<hr>
      {{new-review saveReview="saveReview" question=question}} <br>
  <button {{action 'delete' question}}>Delete Query</button><hr><br>
