<h1>Contact</h1>
<h3> Customer Support Center</h3>
<p>Whether you’re looking for answers, would like to solve a problem, or just want to let us know how we did,
  you’ll find many ways to contact us right here. </p>
<p>We’ll help you resolve your issues quickly and easily, getting you back to more important things, like relaxing on your new sofa.</p>

<p>Operating Hours:</p>
<ul>
<li>Monday-Saturday: 8:00am – 12:00am (EDT)</li>
<li>Sunday: 9:00am – 12:00am (EDT)</li>
</ul>

<p>Please view our FAQ to find answers to your questions or send us an email for general questions! Due to unexpected volumes, </p>
<p>it is taking us a little longer than we would like to respond to emails. Our current email response time is 3 business days.</p>
<h3>We appreciate a little feed back</h3>
<form>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    {{input value=email id="email" placeholder="Email" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="inputComments">Comments</label>
    {{textarea value=comments id="inputComments" placeholder="Comments" class="form-control"}}
  </div>

  {{#bs-modal-simple open=modal1 title="Congratulations!!" size="sm" onHidden=(action (mut modal1) false)}}
    Thankyou <a mailto={{email}}>{{email}}</a> has succesfully been added to our email-listings
    We'll update you with our recent hot news and queries
  {{/bs-modal-simple}}
  {{#bs-button onClick=(action (mut modal1) true) class="btn btn-default btn-danger"}}Submit{{/bs-button}}

<!-- This triggers a modal which displays the users email and with it info of what will be done to the email -->


  <!-- <button type="submit" class="btn btn-default btn-danger"  {{action 'pressed'}}>Submit</button> -->
</form>

<hr>
